{
  "openapi": "3.0.1",
  "info": {
    "title": "3X Pay Gateway",
    "description": "Para autenticar as rotas dessa API são necessario ter em mãos a **api_secret** e **api_key** da sua conta. Este podem ser encontrados dentro do painel https://app.3xpay.co acessando a página de Configurações e clicando na opção de Credencias de API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gateway.3xpay.co"
    }
  ],
  "tags": [
    {
      "name": "Transações",
      "description": "Operações relacionadas a transações financeiras"
    },
    {
      "name": "Webhooks",
      "description": "Notificações de eventos da API"
    },
    {
      "name": "Balance",
      "description": "Operações relacionadas ao saldo da conta"
    },
    {
      "name": "Sub-accounts",
      "description": "Operações relacionadas a subcontas BaaS"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": []
    }
  ],
  "paths": {
    "/transaction/cash-in": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCashIn",
        "summary": "CashIn",
        "description": "Cria uma nova transação de entrada (cash-in)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashInRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashInResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/cash-out": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCashOut",
        "summary": "CashOut",
        "description": "Cria uma nova transação de saída (cash-out). O usuário deve incluir uma assinatura RSA no cabeçalho `signature` para autenticar a requisição.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashOutRequest" 
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashOutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCheckout",
        "summary": "Checkout Transparente",
        "description": "Cria uma nova transação de checkout transparente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/refund": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createRefund",
        "summary": "Refund",
        "description": "Realiza o estorno de uma transação",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estorno iniciado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro na requisição de estorno",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "refundInProcessing": {
                    "summary": "Reembolso já está em processamento",
                    "value": {
                      "error": 400,
                      "message": "Reembolso já está em processamento. Aguarde a confirmação."
                    }
                  },
                  "cannotRefund": {
                    "summary": "Transação não pode ser estornada",
                    "value": {
                      "error": 400,
                      "message": "Transação não pode ser estornada"
                    }
                  },
                  "invalidTransactionId": {
                    "summary": "ID da transação inválido",
                    "value": {
                      "error": 400,
                      "message": "Id da transação inválido"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transaction/v2/{transactionId}/find": {
      "get": {
        "tags": ["Transações"],
        "operationId": "findTransaction",
        "summary": "Consultar Transação",
        "description": "Consulta os detalhes de uma transação específica",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/account/balance": {
      "get": {
        "tags": ["Balance"],
        "operationId": "getBalance",
        "summary": "Consultar Saldo",
        "description": "Retorna o saldo disponível e saldo retido da conta",
        "responses": {
          "200": {
            "description": "Saldo consultado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/{transactionId}/receipt": {
      "get": {
        "tags": ["Transações"],
        "operationId": "getReceipt",
        "summary": "Consultar Recibo",
        "description": "Consulta o recibo de uma transação específica",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "createSubAccount",
        "summary": "Criar Subconta",
        "description": "Cria uma nova subconta completa, incluindo usuário e informações da empresa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subconta criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/document": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "uploadPersonalDocument",
        "summary": "Upload Documento Pessoal",
        "description": "Faz upload de documentos pessoais da subconta (RG, CNH, Selfie)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["documentType", "file"],
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Tipo do documento",
                    "enum": ["RG_FRONT", "RG_BACK", "CNH_FRONT", "CNH_BACK", "SELFIE"]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documento enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/document/company": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "uploadCompanyDocument",
        "summary": "Upload Documento Empresa",
        "description": "Faz upload de documentos empresariais da subconta (Contrato Social)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["documentType", "file"],
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Tipo do documento",
                    "enum": ["SOCIAL_CONTRACT"]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo do documento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documento da empresa enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/open-full-account": {
      "post": {
        "tags": ["Sub-accounts"],
        "operationId": "openFullAccount",
        "summary": "Abrir Conta Completa",
        "description": "Inicia o processo de abertura de conta completa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conta em análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAccountResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WebhookNotification": {
        "type": "object",
        "required": ["transactionStatus", "transactionId", "transactionType", "externalId", "value"],
        "properties": {
          "transactionStatus": {
            "type": "string",
            "description": "Status atual da transação",
            "enum": ["PAID", "PENDING", "FAILED", "CHARGEBACK", "REFUND", "REFUND_REJECTED"]
          },
          "transactionId": {
            "type": "string",
            "description": "ID único da transação"
          },
          "transactionType": {
            "type": "string",
            "description": "Tipo da transação",
            "enum": ["CASH_IN", "CASH_OUT"]
          },
          "externalId": {
            "type": "string",
            "description": "ID externo fornecido pelo cliente"
          },
          "value": {
            "type": "number",
            "description": "Valor da transação"
          },
          "error_message": {
            "type": "string",
            "nullable": true,
            "description": "Mensagem de erro ou status do refund (ex: 'REFUNDED' para estorno confirmado, ou código de erro para rejeição)"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": ["transaction_id"],
        "properties": {
          "transaction_id": {
            "type": "string",
            "description": "ID da transação a ser estornada",
            "example": "aafee9f5-94b3-4e3d-ab6a-416d0a1218cb"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string",
            "description": "ID da transação de estorno",
            "example": "aafee9f5-94b3-4e3d-ab6a-416d0a1218cb"
          },
          "status": {
            "type": "string",
            "description": "Status do estorno",
            "example": "IN_PROCESSING"
          },
          "value": {
            "type": "number",
            "description": "Valor do estorno em reais",
            "example": 100.50
          },
          "e2e_id": {
            "type": "string",
            "nullable": true,
            "description": "Identificador end-to-end da transação PIX",
            "example": "E23114447202304181826HJNwY577YDX"
          },
          "payer": {
            "type": "object",
            "description": "Dados do pagador",
            "properties": {
              "name": {
                "type": "string",
                "description": "Nome do pagador"
              },
              "document": {
                "type": "string",
                "description": "Documento do pagador (CPF/CNPJ)"
              },
              "bankCode": {
                "type": "string",
                "description": "Código do banco do pagador"
              },
              "bankName": {
                "type": "string",
                "description": "Nome do banco do pagador"
              },
              "bankIspb": {
                "type": "string",
                "description": "Código ISPB do banco do pagador"
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CashInRequest":  {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "required": ["amount", "callback_url", "external_id"],
            "properties": {
              "amount": {
                "type": "number",
                "description": "O valor a ser transacionado"
              },
              "callback_url": {
                "type": "string",
                "description": "A URL para a qual o callback da transação será enviado"
              },
              "external_id": {
                "type": "string",
                "description": "O identificador externo para a transação"
              },
              "expiration": {
                "type": "number",
                "description": "A data de expiração em segundos do QRCode",
                "example": 3600
              },
              "custom_message": {
                "type": "string",
                "description": "Mensagem customizada para o pagador",
                "example": "Pix para o pedido 123456",
                "maxLength": 130
              },
              "debtor": {
                "type": "object",
                "required": ["name", "document"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do pagador",
                    "example": "João da Silva"
                  },
                  "document": {
                    "type": "string",
                    "description": "Documento do pagador (CPF) apenas números",
                    "example": "12345678901"
                  }
                }
              }
            }
          }
        }
      },
      "CashInResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "PENDING"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "PENDING"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "W5qrXoQ6Me5kfw1mEaTsn9lizo"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento PIX"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "total": {
                "type": "number",
                "description": "Valor total da transação"
              }
            }
          },
          "transaction_id": {
            "type": "string",
            "description": "ID único da transação",
            "example": "756afe09-0471-4124-9f35-6691fa130f5b"
          }
        }
      },
      "CashOutRequest": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "required": ["key", "amount", "callback_url", "external_id", "pixType"],
            "properties": {
              "key": {
                "type": "string",
                "description": "Chave PIX do destinatário"
              },
              "amount": {
                "type": "number",
                "description": "O valor a ser transacionado"
              },
              "callback_url": {
                "type": "string",
                "description": "A URL para a qual o callback da transação será enviado"
              },
              "external_id": {
                "type": "string",
                "description": "O identificador externo para a transação"
              },
              "pixType": {
                "type": "string",
                "description": "Tipo da chave PIX",
                "enum": ["CPF", "CNPJ", "PHONE", "EMAIL", "RANDOM"]
              }
            }
          }
        }
      },
      "CashOutResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "success"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "pending"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "3b7abeda-205a-4439-a078-957e3f37c330"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "total": {
                "type": "number",
                "description": "Valor total",
                "example": 2
              }
            }
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": ["transaction"],
        "properties": {
          "transaction": {
            "type": "object",
            "required": [
              "customer_infos",
              "address",
              "payment_method",
              "callback_url",
              "products"
            ],
            "properties": {
              "customer_infos": {
                "type": "object",
                "required": ["name", "email", "document", "phone"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email do cliente"
                  },
                  "document": {
                    "type": "string",
                    "description": "CPF/CNPJ do cliente"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Telefone do cliente"
                  }
                }
              },
              "address": {
                "type": "object",
                "required": ["zipcode", "street", "number", "district", "city", "state"],
                "properties": {
                  "zipcode": {
                    "type": "string",
                    "description": "CEP"
                  },
                  "street": {
                    "type": "string",
                    "description": "Rua"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número"
                  },
                  "district": {
                    "type": "string",
                    "description": "Bairro"
                  },
                  "adjunct": {
                    "type": "string",
                    "description": "Complemento"
                  },
                  "city": {
                    "type": "string",
                    "description": "Cidade"
                  },
                  "state": {
                    "type": "string",
                    "description": "Estado"
                  }
                }
              },
              "payment_method": {
                "type": "string",
                "description": "Método de pagamento",
                "enum": ["PIX", "CREDIT_CARD", "BILLET"]
              },
              "installments": {
                "type": "integer",
                "description": "Número de parcelas"
              },
              "card_payment_method_id": {
                "type": "string",
                "description": "Bandeira do cartão"
              },
              "card_number": {
                "type": "string",
                "description": "Número do cartão"
              },
              "expiration_date": {
                "type": "string",
                "description": "Data de expiração do cartão",
                "pattern": "^(0[1-9]|1[0-2])/([0-9]{2})$"
              },
              "cvv": {
                "type": "string",
                "description": "Código de segurança do cartão"
              },
              "holder_name": {
                "type": "string",
                "description": "Nome do titular do cartão"
              },
              "callback_url": {
                "type": "string",
                "description": "URL para callback"
              },
              "products": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["name", "price", "quantity"],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Nome do produto"
                    },
                    "price": {
                      "type": "number",
                      "description": "Preço do produto"
                    },
                    "quantity": {
                      "type": "integer",
                      "description": "Quantidade do produto"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "success"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "PROCESSING"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "ScEEPm9jzOgL1FbU2J673JDaNMqMV7S"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento PIX"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "due_date": {
                "type": "string",
                "description": "Data de vencimento",
                "format": "date-time"
              },
              "total": {
                "type": "number",
                "description": "Valor total da transação"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "Saldo disponível na conta",
            "example": 7.56
          },
          "secure_balance": {
            "type": "number", 
            "description": "Saldo retido/em garantia",
            "example": 10.28
          },
          "total_meds": {
            "type": "number", 
            "description": "Total de MEDs",
            "example": 10.28
          }
        }
      },
      "ReceiptResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "SUCCESS"
          },
          "data": {
            "type": "object",
            "properties": {
              "receipt": {
                "type": "string",
                "description": "Conteúdo do comprovante em base64",
                "example": "JVBERi0xLjMKJf..."
              },
              "mimeType": {
                "type": "string",
                "description": "Tipo do arquivo do comprovante",
                "example": "application/pdf"
              }
            }
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "SUCCESS"
          },
          "transaction": {
            "type": "object",
            "properties": {
              "transaction_id": {
                "type": "string",
                "description": "Identificador único da transação",
                "example": "001d9bf0-d736-4882-8ed0-e332bb118009"
              },
              "external_id": {
                "type": "string",
                "description": "Identificador externo da transação",
                "example": "G50403083329447uMFsSb"
              },
              "status": {
                "type": "string",
                "description": "Status da transação",
                "example": "PROCESSED"
              },
              "typeTransaction": {
                "type": "string",
                "description": "Tipo da transação",
                "example": "OUT"
              },
              "total": {
                "type": "string",
                "description": "Valor total da transação",
                "example": "579.06"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Data de criação da transação",
                "example": "2025-04-03T11:33:31.104Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Data da última atualização da transação",
                "example": "2025-04-03T11:33:36.244Z"
              },
              "e2e_id": {
                "type": "string",
                "description": "Identificador end-to-end da transação PIX",
                "example": "E05491616202504031133322540c3ea4"
              },
              "error_message": {
                "type": "string",
                "nullable": true,
                "description": "Mensagem de erro, se houver"
              },
              "payment_code": {
                "type": "string",
                "nullable": true,
                "description": "Código de pagamento PIX",
                "example": "00020101021226820014br.gov.bcb.pix2560qrcode.pagsm.com.br/pix/44c5e891-9afc-4c7f-9954-5fbdc69600eb5204000053039865802BR59043XIP6013BELOHORIZONTE61083401102162070503***63047DE4"
              },
              "payer": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do pagador",
                    "example": "3X INSTITUICAO DE PAGAMENTO LTDA"
                  },
                  "document": {
                    "type": "string",
                    "description": "Documento do pagador (CPF/CNPJ)",
                    "example": "36.010.822/0001-09"
                  },
                  "bankCode": {
                    "type": "string",
                    "description": "Código do banco do pagador",
                    "example": "400"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "Nome do banco do pagador",
                    "example": "COOP CREDITAG"
                  },
                  "bankIspb": {
                    "type": "string",
                    "description": "Código ISPB do banco do pagador",
                    "example": "5491616"
                  }
                }
              },
              "receiver": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do recebedor",
                    "example": "GABRIEL DIBACHTI INACIO DA SILVA"
                  },
                  "document": {
                    "type": "string",
                    "description": "Documento do recebedor (CPF/CNPJ)",
                    "example": "022.***.***-40"
                  },
                  "bankCode": {
                    "type": "string",
                    "description": "Código do banco do recebedor",
                    "example": "077"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "Nome do banco do recebedor",
                    "example": "BANCO INTER"
                  },
                  "bankIspb": {
                    "type": "string",
                    "description": "Código ISPB do banco do recebedor",
                    "example": "00416968"
                  }
                }
              }
            }
          }
        }
      },
      "CreateSubAccountRequest": {
        "type": "object",
        "required": ["company_infos", "representative", "address"],
        "properties": {
          "company_infos": {
            "type": "object",
            "required": ["cnpj", "company_name", "trade_name", "company_type", "constitution_date", "monthly_income"],
            "properties": {
              "cnpj": {
                "type": "string",
                "description": "CNPJ da empresa",
                "example": "12345678000195"
              },
              "company_name": {
                "type": "string",
                "description": "Razão social da empresa",
                "example": "Empresa Exemplo LTDA"
              },
              "trade_name": {
                "type": "string",
                "description": "Nome fantasia da empresa",
                "example": "Empresa Exemplo"
              },
              "company_type": {
                "type": "string",
                "description": "Tipo da empresa",
                "example": "LTDA"
              },
              "constitution_date": {
                "type": "string",
                "format": "date",
                "description": "Data de constituição",
                "example": "2020-01-01"
              },
              "monthly_income": {
                "type": "number",
                "description": "Renda mensal da empresa",
                "example": 50000
              }
            }
          },
          "representative": {
            "type": "object",
            "required": ["name", "email", "cpf", "full_name", "phone", "mother_name", "monthly_income", "birth_date", "was_signed", "signature_date"],
            "properties": {
              "name": {
                "type": "string",
                "description": "Nome do representante",
                "example": "João Silva"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email do representante",
                "example": "joao@empresa.com"
              },
              "cpf": {
                "type": "string",
                "description": "CPF do representante",
                "example": "12345678901"
              },
              "full_name": {
                "type": "string",
                "description": "Nome completo do representante",
                "example": "João Silva Santos"
              },
              "phone": {
                "type": "string",
                "description": "Telefone do representante",
                "example": "+5511987654321"
              },
              "mother_name": {
                "type": "string",
                "description": "Nome da mãe do representante",
                "example": "Maria Silva"
              },
              "monthly_income": {
                "type": "string",
                "description": "Renda mensal do representante",
                "example": "3000"
              },
              "birth_date": {
                "type": "string",
                "format": "date",
                "description": "Data de nascimento",
                "example": "1990-01-01"
              },
              "was_signed": {
                "type": "boolean",
                "description": "Se o representante já assinou os documentos",
                "example": true
              },
              "signature_date": {
                "type": "string",
                "format": "date",
                "description": "Data da assinatura",
                "example": "2024-01-01"
              }
            }
          },
          "address": {
            "type": "object",
            "required": ["street", "number", "city", "zip_code", "neighborhood", "uf", "adress_type"],
            "properties": {
              "street": {
                "type": "string",
                "description": "Rua/Logradouro",
                "example": "Rua Exemplo"
              },
              "number": {
                "type": "string",
                "description": "Número",
                "example": "123"
              },
              "city": {
                "type": "string",
                "description": "Cidade",
                "example": "São Paulo"
              },
              "zip_code": {
                "type": "string",
                "description": "CEP",
                "example": "01234567"
              },
              "neighborhood": {
                "type": "string",
                "description": "Bairro",
                "example": "Centro"
              },
              "uf": {
                "type": "string",
                "description": "UF (Estado)",
                "example": "SP"
              },
              "adress_type": {
                "type": "number",
                "description": "Tipo de endereço",
                "example": 1
              }
            }
          },
          "ref": {
            "type": "string",
            "description": "Referência opcional para identificação",
            "example": "A12as31qw78gb"
          }
        }
      },
      "CreateSubAccountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "account": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Nome da empresa",
                "example": "Empresa Exemplo LTDA"
              },
              "document": {
                "type": "string",
                "description": "CNPJ da empresa",
                "example": "12345678000195"
              },
              "status": {
                "type": "string",
                "description": "Status da conta",
                "example": "PENDING"
              },
              "secrets": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Chave de API da subconta",
                    "example": "ak_1234567890abcdef"
                  },
                  "api_secret": {
                    "type": "string",
                    "description": "Secret de API da subconta",
                    "example": "as_1234567890abcdef"
                  }
                }
              }
            }
          }
        }
      },
      "UploadDocumentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "message": {
            "type": "string",
            "description": "Mensagem de resposta",
            "example": "Documento enviado com sucesso."
          },
          "data": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string",
                "description": "Nome do arquivo",
                "example": "rg_frente.jpg"
              },
              "document_type": {
                "type": "string",
                "description": "Tipo do documento",
                "example": "RG_FRONT"
              },
              "document_format": {
                "type": "string",
                "description": "Formato do documento",
                "example": "JPG"
              }
            }
          }
        }
      },
      "OpenAccountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da resposta",
            "example": "success"
          },
          "message": {
            "type": "string",
            "description": "Mensagem de resposta",
            "example": "Conta em analise."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_secret"
      }
    }
  }
}