{
  "openapi": "3.0.1",
  "info": {
    "title": "3X Pay Gateway",
    "description": "Para autenticar as rotas dessa API são necessario ter em mãos a **api_secret** e **api_key** da sua conta. Este podem ser encontrados dentro do painel https://app.3xpay.co acessando a página de Configurações e clicando na opção de Credencias de API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gateway.3xpay.co"
    }
  ],
  "tags": [
    {
      "name": "Transações",
      "description": "Operações relacionadas a transações financeiras"
    },
    {
      "name": "Webhooks",
      "description": "Notificações de eventos da API"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": []
    }
  ],
  "paths": {
    "/transaction/cash-in": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCashIn",
        "summary": "CashIn",
        "description": "Cria uma nova transação de entrada (cash-in)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashInRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashInResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/cash-out": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCashOut",
        "summary": "CashOut",
        "description": "Cria uma nova transação de saída (cash-out). O usuário deve incluir uma assinatura RSA no cabeçalho `signature` para autenticar a requisição.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashOutRequest" 
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashOutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createCheckout",
        "summary": "Checkout Transparente",
        "description": "Cria uma nova transação de checkout transparente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/refund": {
      "post": {
        "tags": ["Transações"],
        "operationId": "createRefund",
        "summary": "Refund",
        "description": "Realiza o estorno de uma transação",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estorno realizado com sucesso"
          }
        }
      }
    },
    "/transaction/{transactionId}/find": {
      "get": {
        "tags": ["Transações"],
        "operationId": "findTransaction",
        "summary": "Consultar Transação",
        "description": "Consulta os detalhes de uma transação específica",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WebhookNotification": {
        "type": "object",
        "required": ["transactionStatus", "transactionId", "transactionType", "externalId", "value"],
        "properties": {
          "transactionStatus": {
            "type": "string",
            "description": "Status atual da transação",
            "enum": ["PAID", "PENDING", "FAILED"]
          },
          "transactionId": {
            "type": "string",
            "description": "ID único da transação"
          },
          "transactionType": {
            "type": "string",
            "description": "Tipo da transação",
            "enum": ["CASH_IN", "CASH_OUT"]
          },
          "externalId": {
            "type": "string",
            "description": "ID externo fornecido pelo cliente"
          },
          "value": {
            "type": "number",
            "description": "Valor da transação"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": ["transaction_id"],
        "properties": {
          "transaction_id": {
            "type": "string",
            "description": "ID da transação a ser estornada"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CashInRequest": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "required": ["amount", "callback_url", "external_id"],
            "properties": {
              "amount": {
                "type": "number",
                "description": "O valor a ser transacionado"
              },
              "callback_url": {
                "type": "string",
                "description": "A URL para a qual o callback da transação será enviado"
              },
              "external_id": {
                "type": "string",
                "description": "O identificador externo para a transação"
              }
            }
          }
        }
      },
      "CashInResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "PENDING"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "PENDING"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "W5qrXoQ6Me5kfw1mEaTsn9lizo"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento PIX"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "total": {
                "type": "number",
                "description": "Valor total da transação"
              }
            }
          },
          "transaction_id": {
            "type": "string",
            "description": "ID único da transação",
            "example": "756afe09-0471-4124-9f35-6691fa130f5b"
          }
        }
      },
      "CashOutRequest": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "required": ["key", "amount", "callback_url", "external_id", "pixType"],
            "properties": {
              "key": {
                "type": "string",
                "description": "Chave PIX do destinatário"
              },
              "amount": {
                "type": "number",
                "description": "O valor a ser transacionado"
              },
              "callback_url": {
                "type": "string",
                "description": "A URL para a qual o callback da transação será enviado"
              },
              "external_id": {
                "type": "string",
                "description": "O identificador externo para a transação"
              },
              "pixType": {
                "type": "string",
                "description": "Tipo da chave PIX",
                "enum": ["CPF", "CNPJ", "PHONE", "EMAIL", "RANDOM"]
              }
            }
          }
        }
      },
      "CashOutResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "CREATED"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "CREATED"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "3b7abeda-205a-4439-a078-957e3f37c330"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "total": {
                "type": "number",
                "description": "Valor total",
                "example": 2
              }
            }
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": ["transaction"],
        "properties": {
          "transaction": {
            "type": "object",
            "required": [
              "customer_infos",
              "address",
              "payment_method",
              "callback_url",
              "products"
            ],
            "properties": {
              "customer_infos": {
                "type": "object",
                "required": ["name", "email", "document", "phone"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do cliente"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email do cliente"
                  },
                  "document": {
                    "type": "string",
                    "description": "CPF/CNPJ do cliente"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Telefone do cliente"
                  }
                }
              },
              "address": {
                "type": "object",
                "required": ["zipcode", "street", "number", "district", "city", "state"],
                "properties": {
                  "zipcode": {
                    "type": "string",
                    "description": "CEP"
                  },
                  "street": {
                    "type": "string",
                    "description": "Rua"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número"
                  },
                  "district": {
                    "type": "string",
                    "description": "Bairro"
                  },
                  "adjunct": {
                    "type": "string",
                    "description": "Complemento"
                  },
                  "city": {
                    "type": "string",
                    "description": "Cidade"
                  },
                  "state": {
                    "type": "string",
                    "description": "Estado"
                  }
                }
              },
              "payment_method": {
                "type": "string",
                "description": "Método de pagamento",
                "enum": ["PIX", "CREDIT_CARD", "BILLET"]
              },
              "installments": {
                "type": "integer",
                "description": "Número de parcelas"
              },
              "card_payment_method_id": {
                "type": "string",
                "description": "Bandeira do cartão"
              },
              "card_number": {
                "type": "string",
                "description": "Número do cartão"
              },
              "expiration_date": {
                "type": "string",
                "description": "Data de expiração do cartão",
                "pattern": "^(0[1-9]|1[0-2])/([0-9]{2})$"
              },
              "cvv": {
                "type": "string",
                "description": "Código de segurança do cartão"
              },
              "holder_name": {
                "type": "string",
                "description": "Nome do titular do cartão"
              },
              "callback_url": {
                "type": "string",
                "description": "URL para callback"
              },
              "products": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["name", "price", "quantity"],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Nome do produto"
                    },
                    "price": {
                      "type": "number",
                      "description": "Preço do produto"
                    },
                    "quantity": {
                      "type": "integer",
                      "description": "Quantidade do produto"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da transação",
            "example": "success"
          },
          "payment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status do pagamento",
                "example": "PROCESSING"
              },
              "transaction_id": {
                "type": "string",
                "description": "ID da transação",
                "example": "ScEEPm9jzOgL1FbU2J673JDaNMqMV7S"
              },
              "payment_code": {
                "type": "string",
                "description": "Código de pagamento PIX"
              },
              "link": {
                "type": "string",
                "description": "Link para pagamento"
              },
              "due_date": {
                "type": "string",
                "description": "Data de vencimento",
                "format": "date-time"
              },
              "total": {
                "type": "number",
                "description": "Valor total da transação"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api_secret" 
      }
    }
  }
}